/* 頁面整體 */
body {
    margin: auto;
    max-width: 80%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    margin-top: 10px;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 25px;
    height:25px;
    font-family: Tahoma;
    color: #fff;
}

input[type=submit].add {
    background-color: #007bff;
    border-color: #007bff;
    width: 90px;
}

input[type=submit].cancel {
    background-color: #dc3545;
    border-color: #dc3545;
}

form.order {
    padding: 20px;
    background-color: #d9fae1;
}

form.order p{
    margin: 5px
}

a.btn {
    padding: 2px 1px;
    font-size: 11px;
}