/* 頁面整體 */
body {
    margin: auto;
    max-width: 80%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

h5 {
    text-align: center;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 25px;
    height:25px;
    font-family: Tahoma;
    color: #fff;
}

.add {
    background-color: #007bff;
    border-color: #007bff;
}

.cancel {
    background-color: #dc3545;
    border-color: #dc3545;
}