{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>

<body>
    <div class="input">
        {% block input %}
        {% endblock %}
    </div>
    <div class="product">
        {% block product %}
        {% endblock %}
    </div>
    <div class="order">
        {% block order %}
        {% endblock %}
    </div>
    <div class="top">
        {% block top %}
        {% endblock %}
    </div>
</body>

</html>