{% extends "base.html" %}

{% block title %}Umart{% endblock %}

{% block input %}

<h1>status successfully</h1>


<h1>status fail</h1>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="+">
</form>

<form method="post">
    Name <input type="text" name="title" autocomplete="off" required value="{{ movie.title }}">
    Year <input type="text" name="year" autocomplete="off" required value="{{ movie.year }}">
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}

{% block product %}
<div>product</div>
{% endblock %}

{% block order %}
<div>order</div>
{% endblock %}

{% block top %}
<div>top</div>
{% endblock %}