{% extends "base.html" %}

{% block title %}Umart{% endblock %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}

{% if info_message %}
<div class="alert alert-info" role="alert">
    {{ info_message }}
</div>
{% endif %}

<form action="." method="post">
    {{ form }}
    {% csrf_token %}
    <input class='add' type="submit" value="+">
</form>

<a href="{% url 'order_page:csv_export'%}" class="btn btn-primary">
    <span>匯出廠別資料</span>
</a>

<h5>商品列表</h5>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>product_id</th>
            <th>stock_pcs</th>
            <th>price</th>
            <th>shop_id</th>
            <th>vip</th>
        </tr>
    </thead>
    <tbody>
        {% for this_product in product_list %}
        <tr>
            <td>{{ this_product.product_id }}</td>
            <td>{{ this_product.stock_pcs }}</td>
            <td>{{ this_product.price }}</td>
            <td>{{ this_product.shop_id }}</td>
            <td>{{ this_product.vip }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>訂單紀錄列表</h5>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Order ID</th>
            <th>product_id</th>
            <th>qty</th>
            <th>price</th>
            <th>shop_id</th>
            <th>Customer ID</th>
            <th>取消訂單</th>
        </tr>
    </thead>
    <tbody>
        {% for this_order in order_list %}
        <tr>
            <td>{{ this_order.id }}</td>
            <td>{{ this_order.product_id }}</td>
            <td>{{ this_order.qty }}</td>
            <td>{{ this_order.product.price }}</td>
            <td>{{ this_order.product.shop_id }}</td>
            <td>{{ this_order.customer_id }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" id="order_id" name="order_id" value={{ this_order.id }}>
                    <input class='cancel' type="submit" value="-">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>Top3產品列表</h5>
<table class="table">
    {% for this_id in top_sell_id_list %}
    <tr>
        <td>第{{ forloop.counter }}名的銷售產品id: </td>
        <td>{{ this_id }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}